.menu {
  width: 100% !important;
  background-color: #090100;
  background-image: url("../../../assets/images/FondoYummiPizza.svg");
  background-repeat-x: no-repeat;
  background-size: 100vw;
}

.menu .menuRow {
  margin: 0px;
}

.menu .menuRow .menuTitle {
  margin: 30px 0px;
  /* --text-color-h1: #005700; */
  --text-color-h1: white;
  /* --text-color-h1: #FF4700; */
  font-family: "Cabin Sketch", cursive;
}

.menu .menuRow .text-content h1 {
  font-size: 10vh;
  text-transform: uppercase;
  color: var(--text-color-h1);
}

.menu .setUp {
  /* border: 1px solid blue; */
  padding-right: 20px;
  padding-left: 10px;
}

.fixedItem {
  /* position: fixed !important; */
  /* left: 50%;transform: translate(-50%, 0); */
}

.card-product {
  border: 0px;
}

.menu .cart {
  /* border: 1px solid green; */
  padding: 0rem 1rem;
  /* position: fixed !important */
}

.menu .cart .cartBody .btn, .modal-footer .btn {
  text-shadow: 0 0 1px #fff;
}

.menu .cart .cartBody {
  /* border: 10px solid #4f2402; */
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  -webkit-border-image: -webkit-linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  border-image: linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  border-image-slice: 1;
  background: linear-gradient(
    153deg,
    rgba(0, 54, 0, 1) 0%,
    rgba(0, 174, 0, 1) 0%,
    rgba(0, 122, 0, 1) 10%,
    rgba(0, 96, 0, 1) 56%,
    rgba(0, 122, 0, 1) 89%,
    rgba(0, 157, 0, 1) 100%,
    rgba(0, 54, 0, 1) 100%
  );
  padding: 0px 15px;
  min-height: 90vh;
  position: fixed !important;
  bottom: 0 !important;
}

.modal-content {
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  -webkit-border-image: -webkit-linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  border-image: linear-gradient(
    0deg,
    rgba(33, 15, 0, 1) 2%,
    rgba(52, 24, 1, 1) 10%,
    rgba(87, 39, 2, 1) 30%,
    rgba(72, 32, 1, 1) 50%,
    rgba(103, 46, 2, 1) 68%,
    rgba(72, 32, 1, 1) 91%,
    rgba(33, 15, 0, 1) 98%
  );
  border-image-slice: 1;
  background: linear-gradient(
    153deg,
    rgba(0, 54, 0, 1) 0%,
    rgba(0, 174, 0, 1) 0%,
    rgba(0, 122, 0, 1) 10%,
    rgba(0, 96, 0, 1) 56%,
    rgba(0, 122, 0, 1) 89%,
    rgba(0, 157, 0, 1) 100%,
    rgba(0, 54, 0, 1) 100%
  );
}

.menu .cart .cartBody .title,
.modal-content > .modal-header,
.modal-content > .modal-body .form-label {
  --text-color-h1: white;
  font-size: 10vh;
  text-transform: uppercase;
  color: var(--text-color-h1);
  font-family: "Cabin Sketch", cursive;
  /* display: flex; */
}

.modal-content > .modal-header .close {
  color: red;
  font-size: 2.5rem;
}

.modal-content > .modal-body .form-label {
  --text-color-h1: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--text-color-h1);
  font-family: "Cabin Sketch", cursive;
}

.menu .cart .cartBody .title .btnMinimize {
  padding-bottom: 0px;
  margin-top: -3rem;
  float: right;
}

.menu .cart .headCart {
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 4px;

  --text-color-h1: white;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--text-color-h1);
  font-family: "Cabin Sketch", cursive;
}

.menu .cart .bodyCart {
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 4px;
}

.menu .cart .bodyCart .cartInfo {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: auto;
  padding-bottom: auto;
}

.menu .cart .bodyCart .options {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: auto;
  padding-bottom: auto;
}

.menu .cart .bodyCart .btn {
  /* border: 1px solid gray; */
  margin: 0px;
}

.bred {
  border: 1px solid red;
}

.bblue {
  border: 1px solid blue;
}

.bgreen {
  border: 1px solid green;
}

.borange {
  border: 1px solid orange;
}
