.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background:linear-gradient(0deg, rgba(51,26,15,1) 2%, rgba(61,32,18,1) 10%, rgba(57,28,15,1) 30%, rgba(36,18,9,1) 50%, rgba(39,19,10,1) 68%, rgba(51,26,15,1) 91%, rgba(42,21,11,1) 98%);
}

.alert-dismissible {
  margin-bottom: 0 !important;
  z-index: 1056 !important;
  position: sticky !important;
  top:0 !important;
}

#nav-dropdown {
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
